<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<property resource="application.properties"></property>

	<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
		<!--<layout class="ch.qos.logback.classic.PatternLayout">-->
			<!--<pattern> ##! [%d{yyyy-MM-dd}] [%d{HH:mm:ss.SSS}] [%c{1}] [%F:%L] [%p] [%m] !## %n</pattern>-->
		<!--</layout>-->
	<!--</appender>-->

	<!-- log파일을 만들어서 저장 -->
	<appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${default.log.path}/${container.id}/application.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%c{1}] %F:%L %p %m%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT">
		</appender-ref>
	</root>
	<!-- logger name="org.springframework" level="DEBUG"/-->

</configuration>
